.vans--container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .van--card {
    border: 1px solid black;
} */

.van--card--image {
    width: 300px;
    border-radius: 10px;
}

.van--info {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;

}

.van--type {
    height: 34px;
    padding: 6px 26px;

    font-style: normal;
    font-weight: 500;

    border: none;
    border-radius: 5px;

    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);

    margin-top: 5px;
}

.van--link {
    text-decoration: none;
    color: black;
}