* {
    margin: 0;
}

.site--wraper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff7ed;
} 

nav > a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.logo {
    font-size: 25px;
    margin-right: auto;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    text-align: center;
}


.vans--footer {
    background: #252525;
    color: white;

    padding: 20px;
    text-align: center;
    
    margin-top: auto;

}

/* Host */
.host--nav > a {
    color: gray;
}